.container {

}

header .bg-img{
  background-image: url("../img/hikesTopImage.jpg");
  background-size: cover;
  background-position: center center;
  min-height: 400px;

}

/* Bottom right text */
.textOverImage {
  position: absolute;
  left: 5%;
  background: rgba(0,0,0, 0.6);
  color: white;
  margin-top: 110px;
  padding: 10px;
  border-radius: 30px;

}

.textOverImage ul {
  padding: 0;
}

.textOverImage h1 {
  font-size: 65px;
  text-align: center;;
}

.textOverImage li {
 list-style-type: none;
 font-size: 18px;
 padding-left: 30px;
 display: inline-grid;
 text-align: center;

}

#link {
  color: white;
}

.wrapper {
  padding-top: 10px;
  width: 100%;
  display: inline-grid;
  height: 40%;
}

.wrapper .box img {
  max-width: 100%;
}

.wrapper .box .weather {
  margin-bottom: 20px;
}

.route {
  margin-top: 10px;
}
 .route iframe {
  padding-top: 0px;
  width: 100%;
}

@media screen and (max-width: 650px) {
  .wrapper {
    display: inline-block;
  }
}

@media screen and (min-width: 1000px) {
  .wrapper {
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 50px;
    grid-row-gap: 0;
    font-size: 16px;
    padding-top: 15px;
  }
  .wrapper .box img {
    padding-bottom: 5px;
  }
  }
/*
@media screen and (min-width: 1200px) {
  .wrapper .box .information {
    font-size: 18px;
}
*/
.d-block {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
}

footer {
  background-color:#c1946a;
  color: white;
}
